services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./events.db:/home/nobody/events.db
    command: ["python", "-m", "uvicorn", "nfmer.api.v1.api:api", "--host", "0.0.0.0", "--port", "8000"]
    restart: unless-stopped
